@charset "UTF-8";
.blind {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.mximg {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.h100 {
  height: 100%;
}

.dimm {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.flex-1 {
  flex: 0 0 0%;
}

.flex-auto {
  flex: 0 0 auto;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-none {
  flex: none;
}

a {
  color: #0284c7;
  text-decoration: none;
}

a:hover {
  color: #0284c7;
  text-decoration: none;
}

textarea::-webkit-selection,
input::-webkit-selection,
textarea::-moz-selection,
input::-moz-selection,
textarea::selection,
input::selection {
  background-color: white;
  color: #0f172a;
}

/************************************************************************
 * 파일명 : experience.css
 * 설명 : 공통
 * 작성자 : miraclestudio JMR
 * 작성일 : 2022.03.15
 * 최종수정일 : 2022.03.15
************************************************************************/
.lst-experience + .lst-experience {
  margin-top: 13rem;
}

.lst-experience h3.txt-title {
  margin-bottom: 1.5em;
  color: #0f172a;
  font-size: 1.5rem;
  font-weight: 600;
}

.lst-experience p {
  margin: 0 0 1em;
  line-height: 1.15em;
}

.lst-experience p:first-child {
  margin-top: 0;
}

.lst-experience p:last-child {
  margin-bottom: 0;
}

.mui.items {
  margin: 1.5em 0 3em;
}

.mui.items:first-child {
  margin-top: 0 !important;
}

.mui.items:last-child {
  margin-bottom: 0 !important;
}

.mui.items > .item {
  margin: 1.5em 0 3em;
  display: flex;
  margin: 2em 0;
  width: 100%;
  min-height: 0;
  background: transparent;
  padding: 0em;
  border: 0;
  border-radius: 0rem;
  box-shadow: none;
  z-index: "";
}

.mui.items > .item * {
  white-space: pre-line;
  line-height: 1.5rem !important;
}

.mui.items > .item a {
  cursor: default;
}

.mui.items > .item:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.mui.items > .item:first-child {
  margin-top: 0;
}

.mui.items > .item:last-child {
  margin-bottom: 0;
}

.mui.items > .item > .image {
  display: block;
  position: relative;
  align-self: top;
  flex: 0 0 auto;
  float: none;
  width: 175px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.mui.items > .item > .image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.125rem;
  border: 1px solid #cbd5e1;
}

.mui.items > .item > .image:only-child > img {
  border-radius: 0;
}

.mui.items > .item > .image + .content {
  align-self: top;
  width: auto;
  min-width: 0;
  margin-top: 10px;
  margin-left: 0;
  padding-left: 1.5em;
}

.mui.items > .item > .content {
  display: block;
  flex: 1 1 auto;
  background: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  font-size: 1em;
  border: none;
  border-radius: 0;
  color: #0f172a;
}

.mui.items > .item > .content * {
  max-width: auto;
  margin: 0.2em 0;
  color: #1e293b;
  font-size: 1rem;
}

.mui.items > .item > .content a {
  text-decoration: none;
}

.mui.items > .item > .content a.link {
  text-decoration: underline;
  cursor: pointer;
}

.mui.items > .item > .content:after {
  display: block;
  content: " ";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.mui.items > .item > .content > div:not(.header) {
  position: relative;
  padding-left: 15px;
}

.mui.items > .item > .content > div:not(.header):before {
  content: "- ";
  position: absolute;
  left: 0;
}

.mui.items > .item > .content p {
  margin: 0 0 0.5em;
}

.mui.items > .item > .content p:last-child {
  margin-bottom: 0;
}

.mui.items > .item > .content img {
  align-self: middle;
  width: "";
}

.mui.items > .item .header {
  margin: -0.1em 0 1em 0;
}

.mui.items > .item .header a {
  color: #075985;
  font-size: 1.3rem;
  font-weight: bold;
}

.mui.items > .item .header a.header {
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

.mui.items > .item .header a.header:hover {
  text-decoration: underline;
}

.mui.items > .item .extra:after {
  display: block;
  content: " ";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* Mobile Only */
@media only screen and (max-width: 640px) {
  .mui.items > .item {
    flex-direction: column;
    margin: 1em 0 10em;
  }
  .mui.items > .item > .image {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .mui.items > .item > .image > img {
    max-width: 100% !important;
    width: auto !important;
    max-height: 250px !important;
  }
  .mui.items > .item > .image + .content {
    margin-top: 2em;
  }
  .mui.items > .item > .content {
    margin-top: 2em;
  }
}
