@charset "utf-8";

/************************************************************************
 * 파일명 : home.css
 * 설명 : 공통
 * 작성자 : miraclestudio JMR
 * 작성일 : 2022.03.15
 * 최종수정일 : 2022.03.15
************************************************************************/

/* .home{background:#27c9ff} */
.home .row-text {
  font-size: 2rem;
}

.home span {
  height: 100px;
  background: #1e3a8a;
  color: #2fcaff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .title {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: bold;
}
