@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* @import url(/src/resources/css/swiper-bundle.css); */

/************************************************************************
 * 파일명 : layout.css
 * 설명 : 공통
 * 작성자 : miraclestudio JMR
 * 작성일 : 2022.03.15
 * 최종수정일 : 2022.03.15
************************************************************************/

#wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
#container {
  position: relative;
}
#container.has-fix-btn {
  padding-bottom: 86px;
}
#container .container-wrap {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
h2.txt-headline {
  margin-bottom: 80px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 800;
  letter-spacing: -0.025em;
}

.contact .contact-me {
}

/* sm */
@media (min-width: 640px) {
  /* #container .container-wrap {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  h2.txt-headline {
    font-size: 1.875rem;
    line-height: 2.25rem;
  } */
}
/* md */
@media (min-width: 768px) {
  /* #container .container-wrap {
    padding-left: 3rem;
    padding-right: 3rem;
  } */
}

/* lg */
@media (min-width: 1024px) {
}
/* xl */
@media (min-width: 1280px) {
}
