@charset "utf-8";

/************************************************************************
 * 파일명 : layofooterut.css
 * 설명 : 공통
 * 작성자 : miraclestudio JMR
 * 작성일 : 2022.03.15
 * 최종수정일 : 2022.03.15
************************************************************************/

#footer {
  margin-top: 100px;
  padding: 0 16px 80px;
}
#footer p.copyright {
  text-align: center;
}
