@charset "utf-8";

/************************************************************************
 * 파일명 : experience.css
 * 설명 : 공통
 * 작성자 : miraclestudio JMR
 * 작성일 : 2022.03.15
 * 최종수정일 : 2022.03.15
************************************************************************/

.lst-experience + .lst-experience {
  margin-top: 13rem;
}
.lst-experience h3.txt-title {
  font-size: 1.5rem;
}
.lst-experience .ui.items > .item {
  margin: 2em 0;
}
.lst-experience .ui.items > .item > .image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.lst-experience .ui.items > .item > .content > .header {
  white-space: pre-line;
}
.lst-experience .ui.items > .item * {
  white-space: pre-line;
  line-height: 1.5rem !important;
}
.lst-experience .ui.items > .item > .image + .content {
  margin-top: 10px;
}
.lst-experience .ui.items > .item .meta {
  margin: 1em 0;
}
.lst-experience .ui.items > .item > .description {
  margin: 1em 0;
}
.lst-experience .ui.items > .item .extra {
  margin: 1em 0;
}

/* sm */
@media (min-width: 640px) {
}
@only screen and (max-width: 767px) {
  .lst-experience.ui.items:not(.unstackable) > .item > .image {
  }
}
/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
}
/* xl */
@media (min-width: 1280px) {
}
