@charset "utf-8";
@import url(./reset.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

/************************************************************************
 * 파일명 : index.css
 * 설명 :레이아웃_공통
 * 작성자 : MIRACLE JMR
 * 작성일 : 2022.04.06
 * 최종수정일 : 2022.04.06
************************************************************************/

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
